.about-containa{
	width: 100%;
    
    padding-top: 50px;
}

.about-containa-text h3{
	text-align: center;

}
.about-containa-ul{
	margin-top: 50px;
	position: relative;
	width: 100%;
	text-align: center;
}
.about-containa-ul li{
	display: inline-block;
	position: relative;
	width: 30%;


}
.about-containa-ul li span img{
	width: 80%;
	height: 200px;
	border-radius: 15px;
	margin-top: 10px;
}
.about-containa-ul li span img:hover{
	transform:scale(1.05);
}

/*
  屏幕分辨率在760px下的css样式
*/
@media (max-width:760px){
  .about-containa{
	width: 100%;
    
    padding-top: 20px;

}

.about-containa-text h3{
	text-align: center;

}
.about-containa-ul{
	margin-top: 20px;
	position: relative;
	width: 100%;
	text-align: center;
}
.about-containa-ul li{
	display: inline-block;
	position: relative;
	width: 30%;


}
.about-containa-ul li span img{
	width: 80%;
	height: 100px;
	border-radius: 10px;
	margin-top: 10px;
}



}
