.home-containb{
	width: 100%;
	margin-top: 50px;
}

.home-containb-img{
	width: 50%;	
	display: inline-block;
	position:absolute;
}
.home-containb-img img{
	position: absolute;
	width: 60%;
	left: 10%;
	box-shadow: 5px 5px 5px gray;
}
.home-containb-img img:hover{
	
	
	transform:scale(1.05) 

}
.home-containb-text{
	width: 40%;
	display: inline-block;
	position: absolute;
	right: 0
}
.home-containb-text h2{
	margin-top: 50px;
	width: 80%;
}
.home-containb-text p{
   width: 80%;

}
/*
   屏幕分辨率在760px下的css属性，media属性只支持ie9
*/
@media (max-width:760px ) {
	.home-containb{
	width: 100%;
	margin-top: 20px;
	
	
}

.home-containb-img{
	width: 40%;	
	display: inline-block;
	position:absolute;
}
.home-containb-img img{
	position: absolute;
	width: 100%;
	margin-top: 30px;
	
	box-shadow: 5px 5px 5px gray;
}

.home-containb-text{
	width: 50%;
	display: inline-block;
	position: absolute;
	right: 0
}
.home-containb-text h2{
	margin-top: 5px;
	width: 80%;
}
.home-containb-text p{
   width: 100%;

}
	
}