.home-containe{
	margin-top: 50px;
	text-align: center;
	
}
.home-containe-text h1{
	text-align: center;
}
.home-containe-ul {
  margin-top: 20px;
}

.home-containe-ul li span {
	display: inline-block;
	padding: 10px 40px;
	
	margin-top: 10px;
	border-bottom: 2px solid black;
}
	


.home-containe-button{
	margin-top: 20px;
	font-size: 16px;
	padding: 5px;
	background: white;
	border: 1px solid black;
	color: black;
}
/*
   屏幕分辨率在760px下的css属性，media属性只支持ie9
*/
@media (max-width:760px){
 .home-containe{
    margin-top: 20px;
	text-align: center;
	
}
.home-containe-text h1{
	text-align: center;
}

.home-containe-ul {
  margin-top: 10px;
}

.home-containe-ul li span {
	display: inline-block;
	padding: 10px 40px;
	
	margin-top: 10px;
	border-bottom: 1px solid black;
}
	
.home-containe-button{
	margin-top: 10px;
	font-size: 10px;
	padding: 4px;
	background: white;
	border: 1px solid black;
	color: black;
}


}