*{
	margin: 0px;
	padding: 0px;
}
body{
	background:  linear-gradient(0deg, #faefee, #f4f4e4);
     font-size: 18px;
     font-family: helvetica, verdana, sans-serif;
  
}
@media (max-width:760px){
	body{
		 font-size: 8px;
	}
}

a{
	color: black;
	text-decoration: none;

}  
ul {
	list-style: none;
}

